body { /* Corpo do documento */
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove o padding */
    font-family: Arial, sans-serif; /* Define a fonte */
}

header { /* Cabeçalho */
    height: 80px;
    font-weight: bold;
    background-color: darkorange; /* Define a cor de fundo */
    display: flex; /* Define o display como flex */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens uniformemente */
    padding: 0 100px; /* Adiciona padding horizontal */
    box-shadow: 0 0 15px 5px darkorange; /* Adiciona sombra */
    margin-bottom: 15px;
}

#logo { /* Logo */
    height: 50px; /* Define a altura do logo */
}

#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav { /* Navegação */
    width: 100%; /* Define a largura como 100% */
    padding: 0 50px; /* Adiciona padding horizontal */
    z-index: 1; /* Adiciona z-index */
    position: relative; /* Adiciona posição relativa para permitir que z-index funcione */
}

nav ul { /* Lista de navegação */
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove o padding */
    display: flex; /* Define o display como flex */
}

nav li { /* Itens de lista da navegação */
    position: relative; /* Define a posição como relativa */
    margin-right: 20px; /* Adiciona margem à direita */
    font-size: 20px; /* Define o tamanho da fonte */
}

nav li a { /* Links da navegação */
    transition: background-color 1s ease;
    display: block; /* Define o display como block */
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 14px 16px; /* Adiciona padding */
    text-decoration: none; /* Remove a decoração do texto */
}

nav li a:hover { /* Links da navegação quando o mouse está sobre eles */
    transition: font-size 0.5s ease;
    text-decoration: underline;
    font-size: 22px;
    background-color: rgb(201, 111, 0); /* Define a cor de fundo */
    box-shadow: 0 0 15px rgba(201, 111, 0, 1); /* Adiciona sombra com cor semi-transparente */
}

nav li ul { /* Submenu */
    opacity: 0;
    visibility: hidden;
    position: absolute; /* Define a posição como absoluta */
    top: 100%; /* Posiciona o submenu abaixo do item de lista */
    left: 0; /* Alinha o submenu à esquerda */
    flex-direction: column; /* Define a direção do flex como coluna */
    transition: all 0.4s ease;
}

nav li:hover ul { /* Submenu quando o mouse está sobre o item de lista */
    opacity: 1;
    visibility: visible;
}

nav li ul li a { /* Links do submenu */
    font-size: 20px; /* Define o tamanho da fonte */
    background-color: darkorange; /* Define a cor de fundo */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
    text-align: left; /* Alinha o texto à esquerda */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    /* Bordas em volta do subitem exceto abaixo para não ficar duas bordas se encostando e parecendo uma borda grossa */
    border-top: 1px solid rgba(0,0,0,1); /* Adiciona borda superior */
    border-right: 1px solid rgba(0,0,0,1); /* Adiciona borda direita */
    border-left: 1px solid rgba(0,0,0,1); /* Adiciona borda esquerda */
}

nav li ul li a:hover { /* Links do submenu quando o mouse está sobre eles */
    font-size: 20px; /* Mantém o tamanho da fonte ao passar o mouse */
    background-color: rgb(201, 111, 0);
}

nav li ul li:last-child { /* Último item do submenu */
    /* Borda abaixo somente do ultimo subitem */
    border-bottom: 1px solid rgba(0, 0, 0, 1); /* Adiciona borda inferior */
}

.formCadLinha {
    max-width: 600px; /* Ajuste conforme necessário */
    padding: 20px;
    border: 1px solid #c81e1e; /* Borda ao redor do contêiner */
    border-radius: 8px; /* Cantos arredondados do contêiner */
    margin: auto;
}

form {

    border: 1px solid #804242; /* Borda ao redor do formulário */
    padding: 15px;
    border-radius: 8px; /* Cantos arredondados do formulário */
}
.bodyCadLinha{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.H1Linha{
    text-align: center;
}

body {
    background-color: white;
    color: #333;
}

/* Sobre.html */
.sobre-page .section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
}

.sobre-page .section p {
    line-height: 1.6;
}

.sobre-page .section h2 {
    color: darkorange;
    margin-bottom: 10px;
}

.sobre-page .section-left {
    flex-direction: row;
    transform: translateX(-10%);
}

.sobre-page .section-right {
    flex-direction: row;
    transform: translateX(10%);
}

.sobre-page .section img {
    max-width: 100%;
    object-fit: contain;
}

.sobre-page .text-content {
    width: 75%;
}

/* footer */

footer {
    margin-top: 20px;
    width: 100%;
    height: 110px;
    background: darkorange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 0 5px 2px darkorange; /* Adiciona sombra */
}

.footer-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section img {
    height: 30px;
}

.footer-section p {
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin: 5px 0;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
}

.footer-section .social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}