/* Corpo do documento */
body {
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove o padding */
    font-family: Arial, sans-serif; /* Define a fonte */
}

/* Cabeçalho */
header {
    height: 80px;
    font-weight: bold;
    background-color: darkorange; /* Define a cor de fundo */
    display: flex; /* Define o display como flex */
    align-items: center; /* Centraliza os itens verticalmente */
    justify-content: space-between; /* Espaça os itens uniformemente */
    padding: 0 100px; /* Adiciona padding horizontal */
    box-shadow: 0 0 15px 5px darkorange; /* Adiciona sombra */
    margin-bottom: 15px;
}

/* Logo */
#logo {
    height: 50px; /* Define a altura do logo */
}

/* Logo quando o mouse está sobre ele */
#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Navegação */
nav {
    width: 100%; /* Define a largura como 100% */
    padding: 0 50px; /* Adiciona padding horizontal */
    z-index: 1; /* Adiciona z-index */
    position: relative; /* Adiciona posição relativa para permitir que z-index funcione */
}

/* Lista de navegação */
nav ul {
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 0; /* Remove as margens */
    padding: 0; /* Remove o padding */
    display: flex; /* Define o display como flex */
}

/* Itens de lista da navegação */
nav li {
    position: relative; /* Define a posição como relativa */
    margin-right: 20px; /* Adiciona margem à direita */
    font-size: 20px; /* Define o tamanho da fonte */
}

/* Links da navegação */
nav li a {
    transition: background-color 1s ease;
    display: block; /* Define o display como block */
    color: white; /* Define a cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 14px 16px; /* Adiciona padding */
    text-decoration: none; /* Remove a decoração do texto */
}

/* Links da navegação quando o mouse está sobre eles */
nav li a:hover {
    transition: font-size 0.5s ease;
    text-decoration: underline;
    font-size: 22px;
    background-color: rgb(201, 111, 0); /* Define a cor de fundo */
    box-shadow: 0 0 15px rgba(201, 111, 0, 1); /* Adiciona sombra com cor semi-transparente */
}

/* Submenu */
nav li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute; /* Define a posição como absoluta */
    top: 100%; /* Posiciona o submenu abaixo do item de lista */
    left: 0; /* Alinha o submenu à esquerda */
    flex-direction: column; /* Define a direção do flex como coluna */
    transition: all 0.4s ease;
}

/* Submenu quando o mouse está sobre o item de lista */
nav li:hover ul {
    opacity: 1;
    visibility: visible;
}

/* Links do submenu */
nav li ul li a {
    font-size: 20px; /* Define o tamanho da fonte */
    background-color: darkorange; /* Define a cor de fundo */
    white-space: nowrap; /* Impede que o texto quebre para a próxima linha */
    text-align: left; /* Alinha o texto à esquerda */
    box-sizing: border-box; /* Inclui padding e border no tamanho total do elemento */
    /* Bordas em volta do subitem exceto abaixo para não ficar duas bordas se encostando e parecendo uma borda grossa */
    border-top: 1px solid rgba(0,0,0,1); /* Adiciona borda superior */
    border-right: 1px solid rgba(0,0,0,1); /* Adiciona borda direita */
    border-left: 1px solid rgba(0,0,0,1); /* Adiciona borda esquerda */
}

/* Links do submenu quando o mouse está sobre eles */
nav li ul li a:hover {
    font-size: 20px; /* Mantém o tamanho da fonte ao passar o mouse */
    background-color: rgb(201, 111, 0);
}

/* Último item do submenu */
nav li ul li:last-child {
    /* Borda abaixo somente do ultimo subitem */
    border-bottom: 1px solid rgba(0, 0, 0, 1); /* Adiciona borda inferior */
}


/* HOME - CARDS */
.title_home {
    font-size: 3rem;
    text-shadow: 2px 2px 10px orange;
    text-align: center;
}

#container_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;;
    margin: 0 10% 3rem;
}

.card {
    border: 1px solid darkorange;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Inspirado em um vídeo sobre CSS, depois pegar referência */
    padding: 1rem;
}

.card h1 {
    font-size: 1.5rem;
    text-align: center;
}

.card .func {
    float: right;
    color: orangered;
}

/* PÁGINA ITINERÁRIOS */
.h1-itinerarios {
    font-size: 2.5rem;
    text-align: center;
    color: darkorange;
}

.h2-itinerarios {
    font-size: 2rem;
    text-align: center;
    color: darkorange;
}

#busSelect {
    width: 50%;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid darkorange;
    border-radius: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
    display: block;
}

#route {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkorange;
    border-radius: 10px;
    background-color: #f9f9f9;
    height: 500px;
    font-size: 1.2rem;
    text-align: center;
    overflow-y: auto; /* Barra de rolagem caso ultrapasse o espaço */
    white-space: pre-line; /* Preserva as quebras de linha */
}

/* PÁGINA CADASTRO DE ITINERÁRIOS */
/* Formulário de cadastro de linha */
.formCadLinha {
    max-width: 600px;
    padding: 20px;
    border: 1px solid darkorange; /* Borda ao redor do contêiner */
    border-radius: 8px; /* Cantos arredondados do contêiner */
    margin: auto;
}

/* Formulario */
form {

    border: 1px solid darkorange; /* Borda ao redor do formulário */
    padding: 15px;
    border-radius: 8px; /* Cantos arredondados do formulário */
}

/* Corpo da página de cadastro de linha */
.bodyCadLinha{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Título da página de cadastro de linha */
.H1Linha{
    text-align: center;
}

/* Corpo do documento */
body {
    background-color: white;
    color: #333;
}

/* PÁGINA CONTATO */

/* Seção superior da página de contato */
.contact-header {
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    color: darkorange; /* Cor do texto */
    font-size: 1.5em; /* Tamanho do texto */
}

/* Título da seção de contato */
.contact-header h1 {
    background-color: darkorange; /* Cor de fundo */
    color: white; /* Cor do texto */
    border-radius: 10px; /* Bordas suaves */
    padding: 10px; /* Espaçamento interno */
    display: inline-block; /* Faz com que o elemento h1 seja tratado como um bloco, mas tenha apenas a largura do seu conteúdo */
}

/* Informações de contato */
.contact-info {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Formulário de contato */
.contact-form {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5px;
}

/* Formulário de contato */
.contact-form form {
    display: flex;
    flex-direction: column;
    border-color: darkorange;
    box-shadow: 0 0 5px darkorange;
}

/* Campos de entrada e área de texto do formulário de contato */
.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Botão de envio do formulário de contato */
.contact-form input[type="submit"] {
    cursor: pointer;
    background-color: darkorange;
    color: white;
    border: none;
}

/* Contêiner do formulário de contato e imagem */
.contact-form-container {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
}

/* Formulário de contato */
.contact-form {
    flex: 1;
    border-radius: 5px;
}

/* Imagem na página de contato */
.contact-image img {
    height: 340px;
    box-shadow: 0 0 10px 5px darkorange;
    border-radius: 10px;
    margin-right: 40px;
}

/* PÁGINA SOBRE */

/* Página Sobre */
.sobre-page .section {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70%;
}

/* Página Sobre */
.sobre-page .section p {
    line-height: 1.6;
}

/* Título da página Sobre */
.sobre-page .section h2 {
    color: darkorange;
    margin-bottom: 10px;
}

/* Seção esquerda da página Sobre */
.sobre-page .section-left {
    flex-direction: row;
    transform: translateX(-5%);
    
}

/* Seção direita da página Sobre */
.sobre-page .section-right {
    flex-direction: row;
    transform: translateX(5%);
}

/* Imagem da página Sobre */
.sobre-page .section img {
    max-width: 100%;
    object-fit: contain;
    height: 200px;
    box-shadow: 0 0 10px 5px darkorange;
    border-radius: 10px;
}

/* Conteúdo de texto da página Sobre */
.sobre-page .text-content {
    width: 75%;
}

/* FOOTER */

footer {
    margin-top: 20px;
    width: 100%;
    height: 110px;
    background: darkorange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: 0 0 5px 2px darkorange; /* Adiciona sombra */
}

/* Seção do footer */
.footer-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagem da seção do footer */
.footer-section img {
    height: 30px;
}

/* Parágrafo da seção do footer */
.footer-section p {
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin: 5px 0;
}

/* Ícones sociais da seção do footer */
.footer-section .social-icons {
    display: flex;
    justify-content: center;
}

/* Ícones sociais da seção do footer */
.footer-section .social-icons img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}